In [3]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
from scipy import stats

In [9]:
def load_nba_data():
    teams_df = pd.read_csv('C:\\MSAIML\\research\\Research-Project\\data\\raw\\24_25_teams.csv')
    
    players_df = pd.read_csv('C:\\MSAIML\\research\\Research-Project\\data\\raw\\nba_2024_25_totals.csv')
    
    players_df['PPG'] = players_df['PTS'] / players_df['G']  # Points per game
    players_df['APG'] = players_df['AST'] / players_df['G']  # Assists per game
    players_df['RPG'] = players_df['TRB'] / players_df['G']  # Rebounds per game
    players_df['MPG'] = players_df['MP'] / players_df['G']   # Minutes per game
    
    # Calculate variance for each stat (based on league average variance)
    players_df['PPG_var'] = (players_df['PPG'] * 0.15) ** 2  # 15% coefficient of variation
    players_df['APG_var'] = (players_df['APG'] * 0.20) ** 2  # 20% coefficient of variation
    players_df['RPG_var'] = (players_df['RPG'] * 0.15) ** 2  # 15% coefficient of variation
    
    print(f"✓ Loaded {len(teams_df)} teams")
    print(f"✓ Loaded {len(players_df)} players")
    
    return teams_df, players_df

In [10]:
load_nba_data()

✓ Loaded 31 teams
✓ Loaded 735 players

(      Rk                     Team   Age     W     L  PW  PL    MOV   SOS  \
 0    1.0   Oklahoma City Thunder*  24.8  68.0  14.0  68  14  12.87 -0.16
 1    2.0          Boston Celtics*  28.9  61.0  21.0  62  20   9.11 -0.83
 2    3.0     Cleveland Cavaliers*  26.6  64.0  18.0  62  20   9.54 -0.73
 3    4.0  Minnesota Timberwolves*  27.2  49.0  33.0  53  29   5.00  0.15
 4    5.0    Los Angeles Clippers*  29.7  50.0  32.0  53  29   4.66  0.18
 5    6.0       Memphis Grizzlies*  24.7  48.0  34.0  52  30   4.85 -0.06
 6    7.0         Houston Rockets*  24.9  52.0  30.0  52  30   4.51  0.45
 7    8.0         New York Knicks*  27.5  51.0  31.0  51  31   4.10 -0.51
 8    9.0          Denver Nuggets*  27.0  50.0  32.0  50  32   3.89  0.08
 9   10.0   Golden State Warriors*  28.6  48.0  34.0  49  33   3.30  0.25
 10  11.0         Milwaukee Bucks*  29.3  48.0  34.0  47  35   2.48 -0.36
 11  12.0          Indiana Pacers*  25.8  50.0  32.0  46  36   2.23 -0.55
 12  13.0         Detroit Pistons*  25.8  44.0  38.0  46  36   1.90 -0.17
 13  14.0      Los Angeles Lakers*  27.9  50.0  32.0  44  38   1.22  0.23
 14  15.0              Miami Heat*  26.8  37.0  45.0  42  40   0.56 -0.45
 15  16.0         Sacramento Kings  27.8  40.0  42.0  42  40   0.48  0.11
 16  17.0           Orlando Magic*  24.9  41.0  41.0  41  41  -0.12 -0.58
 17  18.0            Atlanta Hawks  24.9  40.0  42.0  38  44  -1.13 -0.28
 18  19.0         Dallas Mavericks  27.5  39.0  43.0  38  44  -1.20  0.46
 19  20.0            Chicago Bulls  25.2  39.0  43.0  37  45  -1.56 -0.27
 20  21.0        San Antonio Spurs  26.0  34.0  48.0  34  48  -2.76  0.31
 21  22.0   Portland Trail Blazers  23.8  36.0  46.0  33  49  -2.98  0.31
 22  23.0             Phoenix Suns  29.1  36.0  46.0  34  48  -3.00  0.45
 23  24.0          Toronto Raptors  24.5  30.0  52.0  30  52  -4.29 -0.11
 24  25.0       Philadelphia 76ers  27.1  24.0  58.0  26  56  -6.23 -0.06
 25  26.0            Brooklyn Nets  24.7  26.0  56.0  23  59  -7.11  0.16
 26  27.0                Utah Jazz  23.9  17.0  65.0  20  62  -9.34  0.83
 27  28.0        Charlotte Hornets  25.1  19.0  63.0  20  62  -9.11  0.01
 28  29.0     New Orleans Pelicans  25.9  21.0  61.0  20  62  -9.43  0.84
 29  30.0       Washington Wizards  23.5  18.0  64.0  15  67 -12.44  0.30
 30   NaN           League Average  26.5   NaN   NaN  41  41   0.00  0.00

       SRS  ...  FT/FGA  Unnamed: 22  eFG%.1  TOV%.1  DRB%  FT/FGA.1  \
 0   12.70  ...   0.180          NaN   0.513    14.9  74.6     0.211
 1    8.28  ...   0.169          NaN   0.522    11.6  76.0     0.154
 2    8.81  ...   0.187          NaN   0.528    12.6  74.8     0.181
 3    5.15  ...   0.196          NaN   0.532    13.2  75.1     0.178
 4    4.84  ...   0.200          NaN   0.536    13.7  77.5     0.189
 5    4.79  ...   0.196          NaN   0.533    12.9  74.9     0.206
 6    4.97  ...   0.178          NaN   0.528    12.8  76.2     0.186
 7    3.59  ...   0.186          NaN   0.549    13.1  74.5     0.176
 8    3.97  ...   0.200          NaN   0.542    11.3  74.6     0.173
 9    3.56  ...   0.187          NaN   0.541    14.1  75.6     0.189
 10   2.12  ...   0.201          NaN   0.533    11.4  76.2     0.174
 11   1.68  ...   0.190          NaN   0.546    13.1  74.5     0.190
 12   1.73  ...   0.192          NaN   0.539    13.3  76.0     0.214
 13   1.45  ...   0.213          NaN   0.539    12.2  74.5     0.178
 14   0.11  ...   0.183          NaN   0.543    12.5  75.8     0.157
 15   0.58  ...   0.190          NaN   0.557    12.5  76.9     0.200
 16  -0.70  ...   0.208          NaN   0.538    15.0  77.0     0.220
 17  -1.41  ...   0.196          NaN   0.560    13.8  76.0     0.202
 18  -0.74  ...   0.203          NaN   0.540    11.6  73.1     0.179
 19  -1.83  ...   0.173          NaN   0.539    10.8  76.6     0.178
 20  -2.45  ...   0.181          NaN   0.551    12.0  73.0     0.158
 21  -2.67  ...   0.187          NaN   0.543    13.6  72.5     0.204
 22  -2.55  ...   0.195          NaN   0.552    10.9  74.1     0.191
 23  -4.40  ...   0.173          NaN   0.541    13.2  73.9     0.222
 24  -6.29  ...   0.201          NaN   0.570    14.3  71.8     0.194
 25  -6.95  ...   0.189          NaN   0.557    13.7  75.0     0.218
 26  -8.51  ...   0.195          NaN   0.559    10.3  74.1     0.185
 27  -9.10  ...   0.174          NaN   0.547    11.9  74.5     0.190
 28  -8.59  ...   0.184          NaN   0.564    12.3  72.7     0.190
 29 -12.14  ...   0.178          NaN   0.548    11.4  71.9     0.202
 30   0.00  ...   0.189          NaN   0.543    12.6  74.8     0.189

     Unnamed: 27                       Arena  Attend.  Attend./G
 0           NaN               Paycom Center   754832      17973
 1           NaN                   TD Garden   785396      19156
 2           NaN                Rocket Arena   796712      19432
 3           NaN               Target Center   772249      18835
 4           NaN                 Intuit Dome   679593      16575
 5           NaN                 FedEx Forum   683067      16660
 6           NaN               Toyota Center   716853      17484
 7           NaN  Madison Square Garden (IV)   811794      19800
 8           NaN                  Ball Arena   811211      19786
 9           NaN                Chase Center   740624      18064
 10          NaN                Fiserv Forum   732014      17437
 11          NaN       Gainbridge Fieldhouse   685434      16737
 12          NaN        Little Caesars Arena   781929      19071
 13          NaN            Crypto.com Arena   767626      18723
 14          NaN               Kaseya Center   808337      19716
 15          NaN             Golden 1 Center   696409      16986
 16          NaN                  Kia Center   762121      18588
 17          NaN            State Farm Arena   657613      16440
 18          NaN    American Airlines Center   803174      20079
 19          NaN               United Center   825659      20138
 20          NaN           Frost Bank Center   731474      17976
 21          NaN                 Moda Center   719369      17546
 22          NaN            Footprint Center   699911      17071
 23          NaN            Scotiabank Arena   768573      18746
 24          NaN          Wells Fargo Center   813621      19844
 25          NaN             Barclays Center   713304      17398
 26          NaN                Delta Center   745175      18175
 27          NaN             Spectrum Center   703935      17169
 28          NaN        Smoothie King Center   689400      16815
 29          NaN           Capital One Arena   663691      16084
 30          NaN                         NaN   744037      18153

 [31 rows x 31 columns],
       Rk                   Player  Age Team Pos   G  GS    MP   FG   FGA  ...  \
 0      1  Shai Gilgeous-Alexander   26  OKC  PG  76  76  2598  860  1656  ...
 1      2          Anthony Edwards   23  MIN  SG  79  79  2871  721  1612  ...
 2      3             Nikola Jokić   29  DEN   C  70  70  2571  786  1364  ...
 3      4    Giannis Antetokounmpo   30  MIL  PF  67  67  2289  793  1319  ...
 4      5             Jayson Tatum   26  BOS  PF  72  72  2624  662  1465  ...
 ..   ...                      ...  ...  ...  ..  ..  ..   ...  ...   ...  ...
 730  565              Riley Minix   24  SAS  SF   1   0     7    0     1  ...
 731  566            Jahlil Okafor   29  IND   C   1   0     3    0     0  ...
 732  567              Zyon Pullin   23  MEM  SG   3   0     3    0     1  ...
 733  568           Isaiah Stevens   24  MIA  PG   3   0     6    0     2  ...
 734  569             Terry Taylor   25  SAC  PF   3   0     6    0     1  ...

      Trp-Dbl                    Awards  Player-additional        PPG  \
 0          0  MVP-1DPOY-10CPOY-8ASNBA1          gilgesh01  32.684211
 1          0         MVP-7CPOY-3ASNBA2          edwaran01  27.556962
 2         34         MVP-2CPOY-2ASNBA1          jokicni01  29.585714
 3         11         MVP-3DPOY-8ASNBA1          antetgi01  30.388060
 4          2        MVP-4CPOY-10ASNBA1          tatumja01  26.833333
 ..       ...                       ...                ...        ...
 730        0                       NaN          minixri01   0.000000
 731        0                       NaN          okafoja01   0.000000
 732        0                       NaN          pullizy01   0.000000
 733        0                       NaN          steveis01   0.000000
 734        0                       NaN          taylote01   0.000000

            APG        RPG        MPG    PPG_var   APG_var   RPG_var
 0     6.394737   4.986842  34.184211  24.035796  1.635706  0.559543
 1     4.544304   5.696203  36.341772  17.086189  0.826028  0.730051
 2    10.228571  12.742857  36.728571  19.694576  4.184947  3.653559
 3     6.462687  11.910448  34.164179  20.777269  1.670653  3.191822
 4     5.986111   8.652778  36.444444  16.200625  1.433341  1.684588
 ..         ...        ...        ...        ...       ...       ...
 730   0.000000   2.000000   7.000000   0.000000  0.000000  0.090000
 731   1.000000   1.000000   3.000000   0.000000  0.040000  0.022500
 732   0.000000   0.000000   1.000000   0.000000  0.000000  0.000000
 733   0.000000   0.666667   2.000000   0.000000  0.000000  0.010000
 734   0.666667   0.333333   2.000000   0.000000  0.017778  0.002500

 [735 rows x 40 columns])

In [ ]:
def get_team_stats(teams_df, team_name):
    team_row = teams_df[teams_df['Team'].str.contains(team_name, case=False, na=False)]
    
    if team_row.empty:
        raise ValueError(f"Team '{team_name}' not found!")
    
    team = team_row.iloc[0]
    
    return {
        'name': team['Team'],
        'wins': int(team['W']),
        'losses': int(team['L']),
        'offensive_rating': float(team['ORtg']),  
        'defensive_rating': float(team['DRtg']),  
        'pace': float(team['Pace']),
        'net_rating': float(team['NRtg'])
    }